<template>
    <div>

        <input v-model="message" placeholder="отредактируй меня"><br>
        <p>Введённое сообщение: {{ message }}</p>

        <div class="form-group">
            <label for="product">Товар</label>
            <select class="form-control" id="product" v-model="choice">
                <option>Талоны</option>
                <option>Пополнение топливной карты</option>
            </select>
        </div>


        <div class="form-group" v-if="choice == 'Пополнение топливной карты'">
            <label for="fuelCard">Номер топливной карты</label>
            <select class="form-control" id="fuelCard">
                <option>859809</option>
                <option>909908098</option>
                <option>899897978</option>
                <option>9978798978</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fuelKind"> Вид топлива/бензина</label>
            <select class="form-control" id="fuelKind" v-model="selected">
                <option value="Аи92">Аи92</option>
                <option value="Аи95">Аи95</option>
                <option value="Аи98">Аи98</option>
                <option value="Дт">Дт</option>
            </select>
        </div>

        <br>
        <span>Selected: {{ selected }}</span>
        <div class="form-group">
            <label for="volumeFuel">Кол-во(литры):</label>
            <input type="number" name="volume" id="volumeFuel" step="10"/>
        </div>

        <div class="form-group">
            <label for="totalPrice">Стоимость заказа:</label>
            <input class="form-control" id="totalPriceFuel" name="totalPrice" v-bind:value = "selected + p"/>
        </div>

        <div class="form-group" v-if="choice == 'Талоны'">
            <label for="deliveryKind">Вид доставки</label>
            <select class="form-control" id="deliveryKind">
                <option>самовывоз (Энергетиков, 19 (будни 9-18))</option>
                <option>курьер (от 1-5 рабочих дней)</option>
            </select>
        </div>

        <div class="form-group" v-if="choice == 'Талоны'">
            <label for="deliveryAddress">Адрес доставки</label>
            <input class="form-control" id="deliveryAddress">
        </div>


        <div class="form-group">
            <label for="payMethod">Способ оплаты</label>
            <select class="form-control" id="payMethod">
                <option>наличными курьеру</option>
                <option>банковская карта</option>
            </select>
        </div>

        <div class="form-group">
            <label for="extraInfo">Дополнительная информация</label>
            <textarea class="form-control" id="extraInfo" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="totalPrice">Стоимость заказа:</label>
            <textarea class="form-control" id="totalPriceFuel" name="totalPrice"></textarea>
        </div>

        <div class="form-group">
            <label for="volumeFuel">Кол-во(литры):</label>
            <input type="number" name="volume" id="volumeFuel" step="10"/>
        </div>
    </div>



</template>


<script>
    export default {
        props: ['gascost'],

        mounted: function () {
            console.log(this.gascost);
//            console.log(this.message);
        },

        data: function () {
            return {choice: 'Талоны', selected: '', message: '', p:'pppp'}
        },

        computed: {
            fullName: function () {
                return this.gascost + ' ' + this.p
            }
        }



    };
//    console.log(app.gascost);//
</script>
